{{>server-imports}}
use crate::{
{{^splitTraits}}
     Api,
{{/splitTraits}}
{{#splitTraits}}
     {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}
     {{{operationId}}},{{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
{{/splitTraits}}
     {{#apiInfo}}{{#apis}}{{#operations}}{{#operation}}{{{operationId}}}Response,
     {{/operation}}{{/operations}}{{/apis}}{{/apiInfo}}
};

{{>server-route}}
{{#apiInfo}}
  {{#apis}}
    {{#operations}}
      {{#operation}}
{{^disableValidator}}
{{>server-operation-validate}}
{{/disableValidator}}
{{>server-operation}}
      {{/operation}}
    {{/operations}}
  {{/apis}}
{{/apiInfo}}
